
// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato|Volkhov:700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.material-icons { vertical-align: middle; }

h1, h2, h3 {
  font-family: 'Volkhov', serif;
}

p {
  font-size: 1.2em;
}
